#study {
  width: 100%;
  background-color: #e6e6e6;
}

.study-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 30px auto;
}

.study-item {
  background-color: white;
  width: 29%;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4;
}

.study-item i {
  text-align: center;
  font-size: 120px;
  align-items: center;
  display: block;
}

.study-item___text {
  padding-top: 20px;
  text-align: center;
}
