.work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work___item {
  width: 30%;
}

.work___item___CV img, .work___item___sanyu img {
  width: 300px;
}

.work___item___text {
  padding: 30px 0;
  font-size: 1.8rem;
}
